.sp-col {
    background-color: #f5f9f9;
    border: 1px solid;
    border-color: #c4ced2 #dce7ed #dce7ed;
    padding: 10px;
    box-sizing: border-box;
}

.sp-col-scroll {
    padding-right: 0;
    padding-bottom: 0;
}

.sp-col.sp-col_builders {
    padding: 0;
}

.sp-col:after {
    content: '';
    display: block;
    clear: both;
}

.sp-col.sp-white {
    background: #fff;
}

.sp-search {
    padding: 0 0 10px;
}
.sp-scroll {
    overflow: auto;
    max-height: 425px;
}


.sp-noblock_body {
    display: block;
}

.sp-noblock_title {
    color: #000;
    font-size: 20px;
    position: relative;
    min-height: 25px;
}

.sp-builder_group {
    font-weight: bold;
    padding: 5px 10px;
}

.sp-builder_title {
    /*color: #000;*/
    /*font-size: 20px;*/
    /*position: relative;*/
    /*min-height: 25px;*/
    cursor: pointer;
    padding: 5px 10px;
}

.sp-builder_title:hover {
    background: #eee;
}

.sp-builder_title.sp-active {
    background: #ccc;
}

.sp-optgroup-item {
    display: block;
}


.sp-separator {
    display: block;
    padding: 10px;
}

.sp-table {
    /*display: table;*/
    width: 100%;
}

.sp-table .sp-row1,
.sp-table .sp-row2,
.sp-table .sp-row3 {
    display: flex;
    /*display: table-row;*/
}

.sp-table .sp-row1 .sp-col {
    /*display: table-cell;*/
    /*vertical-align: top;*/
    width: 100%;
}

.sp-table .sp-row2 .sp-col {
    /*display: table-cell;*/
    /*vertical-align: top;*/
    width: 50%;
    /*float: left;*/
    /*width: 350px;*/
}

.sp-table-support .sp-row2 .sp-col:first-child {
    width: 40%;
}

.sp-table-support .sp-row2 .sp-col:last-child {
    width: 60%;
}

.sp-table .sp-row3 .sp-col {
    /*display: table-cell;*/
    /*vertical-align: top;*/
    /*float: left;*/
    width: 33%;
}

.sp-table:after,
.sp-clear:after {
    content: '';
    display: block;
    clear: both;
}

table.sp-config {
    border-collapse: collapse;
}

table.sp-config td {
    padding: 5px;
}

table.sp-list {
    border-collapse: collapse;
}

table.sp-summary {
    border-collapse: collapse;
}

.sp-list-td__content {
    vertical-align: top;
    text-align: left;
    padding: 0 10px 10px;
    /*width: 50px;*/
}

.sp-list-td__content span {
    margin: 0 5px 5px 0;
}

.sp-list-td__buttons {
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
}

td.sp-summary-l {
    vertical-align: middle;
    text-align: left;
    padding: 5px 5px 5px 0;
}

td.sp-summary-r {
    vertical-align: middle;
    text-align: left;
    padding: 5px 0 5px 5px;
}

.sp-item-installed,
.sp-item-new,
.sp-item-unknown {
    text-decoration: none;
}

.sp-item-installed,
.sp-item-installed:link,
.sp-item-installed:hover,
.sp-item-installed:visited,
a.sp-item-installed,
a.sp-item-installed:link,
a.sp-item-installed:hover,
a.sp-item-installed:visited {
    color: #080;
}

.sp-item-new,
.sp-item-new:link,
.sp-item-new:hover,
.sp-item-new:visited,
a.sp-item-new,
a.sp-item-new:link,
a.sp-item-new:hover,
a.sp-item-new:visited {
    color: #a00;
}

.sp-item-unknown,
.sp-item-unknown:link,
.sp-item-unknown:hover,
.sp-item-unknown:visited,
a.sp-item-unknown,
a.sp-item-unknown:link,
a.sp-item-unknown:hover,
a.sp-item-unknown:visited {
    color: #00a;
}


.sp-label {
    padding: 0 10px;
    background: #eee;
    color: #000;
    border-radius: 4px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: default;
}

.sp-label-tag {
    background: #ffbbff;
    border-bottom: 1px solid #ee33ff;
    border-right: 1px solid #ee33ff;
}

.sp-label-modified {
    background: #ffcc00;
}

.sp-label-older {
    background: #b00;
    color: #fff;
}

.sp-optgroup-group {
    margin-bottom: 10px;
}

.sp-optgroup-head {
    margin-bottom: 10px;
}

.sp-optgroup-scroll {
    max-height: 300px;
    overflow: auto;
}

.sp-optgroup-title {
    /*font-weight: bold;*/
}

.sp-field {
    margin-bottom: 10px;
}

.sp-field-title {
    font-weight: bold;
}

.sp-info-message {
    border-radius: 5px;
    border: 1px solid;
    border-color: #d3c6a3 #cabc90 #c1b37f #c9bc8f;
    box-shadow: inset 0 1px 0 #fff;
    color: #716536;
    background: #e6e5be;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    padding: 15px 30px 15px 18px;
    position: relative;
}

#schema_progress_current {
    margin-top: 10px;
}

#schema_progress_current {
    margin-top: 10px;
}

#schema_progress_current,
#schema_progress_full {
    display: none;
    height: 10px;
    background: #eee
}

#schema_progress_current .bar {
    display: block;
    height: 10px;
    background: #99d;
    width: 0;
}

#schema_progress_full .bar {
    display: block;
    height: 10px;
    background: #9d9;
    width: 0;
}

#bx-admin-prefix #migration_container .adm-info-message {
    margin: 5px 0 5px 0;
}

#bx-admin-prefix #migration_container .sp-progress .adm-info-message-buttons {
    display: none;
}

.sp-disabled {
    pointer-events: none;
    opacity: 0.7;
}

.sp-out {
    white-space: pre-wrap;
    margin-bottom: 5px;
}

.sp-out:last-child {
    margin-bottom: 0;
}

.sp-out-list-empty {
    padding: 0 0 10px
}
