.sp-block {
    background-color: #f5f9f9;
    border: 1px solid;
    border-color: #c4ced2 #dce7ed #dce7ed;
    padding: 10px;
}

.sp-block.sp-block_builders{
    padding: 0;
}

.sp-block:after {
    content: '';
    display: block;
    clear: both;
}

.sp-block.sp-white {
    background: #fff;
}



.sp-block-scroll {
    padding-right: 0;
}

.sp-scroll {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 425px;
}


.sp-noblock_body {
    display: block;
}

.sp-noblock_title {
    color: #000;
    font-size: 20px;
    position: relative;
    min-height: 25px;
}

.sp-builder_group{
    font-weight: bold;
    padding: 5px 10px;
}

.sp-builder_title {
    /*color: #000;*/
    /*font-size: 20px;*/
    /*position: relative;*/
    /*min-height: 25px;*/
    cursor: pointer;
    padding: 5px 10px;
}

.sp-builder_title:hover{
    background: #eee;
}
.sp-builder_title.sp-active {
    background: #ccc;
}

.sp-group {
    display: table;
    width: 100%;
}

.sp-separator {
    display: block;
    padding: 10px;
}

.sp-group .sp-group-row1,
.sp-group .sp-group-row2,
.sp-group .sp-group-row3 {
    display: table-row;
}

.sp-group .sp-group-row1 .sp-block {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.sp-group .sp-group-row2 .sp-block {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    /*float: left;*/
    /*width: 350px;*/
}

.sp-group .sp-group-row3 .sp-block {
    display: table-cell;
    vertical-align: top;
    /*float: left;*/
    width: 33%;
}

.sp-group:after,
.sp-clear:after {
    content: '';
    display: block;
    clear: both;
}

.sp-filter {
    /*margin: 10px 0;*/
    /*background: #ccc;*/
    /*padding: 10px;*/

    float: right;
}

table.sp-config {
    border-collapse: collapse;
}

table.sp-config td {
    padding: 5px;
}

table.sp-list {
    border-collapse: collapse;
}

table.sp-list td.sp-list-td__content {
    vertical-align: top;
    text-align: left;
    padding: 5px 5px;
    /*width: 50px;*/
}

table.sp-list td.sp-list-td__buttons {
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    padding: 5px 5px;
}


table.sp-status {
    border-collapse: collapse;
}

table.sp-status td.sp-status-l {
    vertical-align: middle;
    text-align: left;
    padding: 5px 5px 5px 0;
}

table.sp-status td.sp-status-r {
    vertical-align: middle;
    text-align: left;
    padding: 5px 0 5px 5px;
}

.sp-item-installed,
.sp-item-new,
.sp-item-unknown {
    text-decoration: none;
}

.sp-item-installed,
.sp-item-installed:link,
.sp-item-installed:hover,
.sp-item-installed:visited,
a.sp-item-installed,
a.sp-item-installed:link,
a.sp-item-installed:hover,
a.sp-item-installed:visited {
    color: #080;
}

.sp-item-new,
.sp-item-new:link,
.sp-item-new:hover,
.sp-item-new:visited,
a.sp-item-new,
a.sp-item-new:link,
a.sp-item-new:hover,
a.sp-item-new:visited {
    color: #a00;
}

.sp-item-unknown,
.sp-item-unknown:link,
.sp-item-unknown:hover,
.sp-item-unknown:visited,
a.sp-item-unknown,
a.sp-item-unknown:link,
a.sp-item-unknown:hover,
a.sp-item-unknown:visited {
    color: #00a;
}

.sp-modified {
    padding: 0 10px;
    background: #ffcc00;
    color: #000;
    border-radius: 10px;
    cursor: default;
    font-weight: bold;
}

.sp-new,
.sp-older {
    padding: 0 10px;
    background: #b00;
    color: #fff;
    border-radius: 10px;
    cursor: default;
    font-weight: bold;
}

.sp-tag {
    padding: 0 10px;
    background: #ccc;
    border-radius: 10px;
    cursor: default;
}

.sp-optgroup {
    margin-bottom: 10px;
}

.sp-field {
    margin-bottom: 10px;
}

.sp-info-message {
    border-radius: 5px;
    border: 1px solid;
    border-color: #d3c6a3 #cabc90 #c1b37f #c9bc8f;
    box-shadow: inset 0 1px 0 #fff;
    color: #716536;
    background: #e6e5be;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    padding: 15px 30px 15px 18px;
    position: relative;
}

#schema_progress_current {
    margin-top: 10px;
}

#schema_progress_current {
    margin-top: 10px;
}

#schema_progress_current,
#schema_progress_full {
    display: none;
    height: 10px;
    background: #eee
}

#schema_progress_current .bar {
    display: block;
    height: 10px;
    background: #99d;
    width: 0;
}

#schema_progress_full .bar {
    display: block;
    height: 10px;
    background: #9d9;
    width: 0;
}

#bx-admin-prefix #migration-container .adm-info-message {
    margin: 5px 0 5px 0;
}

#bx-admin-prefix #migration-container .sp-progress .adm-info-message-buttons {
    display: none;
}
