
.sp-block {
    background-color: #f5f9f9;
    border: 1px solid;
    border-color: #c4ced2 #dce7ed #dce7ed;
    padding: 19px
}
.sp-block:after {
    content: '';
    display: block;
    clear: both;
}

.sp-block_body{
    display: none;
}

.sp-block_title {
    color: #000;
    font-size: 20px;
    padding: 0;
    position: relative;
    min-height: 25px;
    cursor: pointer;
}

.sp-clear:after {
    content: '';
    display: block;
    clear: both;
}

.sp-filter{
    /*margin: 10px 0;*/
    /*background: #ccc;*/
    /*padding: 10px;*/

    float: right;
}

.sp-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.sp-table .sp-row {
    display: table-row;
}

.sp-table .sp-col {
    display: table-cell;
    vertical-align: top;
}

table.sp-config {
    border-collapse: collapse;
    /*background: #f5f9f9;*/
    margin-bottom: 20px !important;
}

table.sp-config thead td{
    /*text-align: center;*/

}
table.sp-config td{
    /*border-bottom: 1px solid #c4ced2;*/

    padding: 5px;
}

table.sp-list {
    border-collapse: collapse;
}

table.sp-list td.sp-list-l{
    width: 110px;
    vertical-align: middle;
    text-align: left;
    padding: 5px 5px 5px 0;
}
table.sp-list td.sp-list-r{
    vertical-align: middle;
    text-align: left;
    padding: 5px 0 5px 5px;
}


table.sp-status {
    border-collapse: collapse;
}

table.sp-status td.sp-status-l{
    vertical-align: middle;
    text-align: left;
    padding: 5px 5px 5px 0;
}
table.sp-status td.sp-status-r{
    vertical-align: middle;
    text-align: left;
    padding: 5px 0 5px 5px;
}

.sp-item-installed,
.sp-item-new,
.sp-item-unknown {
    text-decoration: none;
}

.sp-item-installed,
.sp-item-installed:link,
.sp-item-installed:hover,
.sp-item-installed:visited,
a.sp-item-installed,
a.sp-item-installed:link,
a.sp-item-installed:hover,
a.sp-item-installed:visited
{
    color: #080;
}

.sp-item-new,
.sp-item-new:link,
.sp-item-new:hover,
.sp-item-new:visited,
a.sp-item-new,
a.sp-item-new:link,
a.sp-item-new:hover,
a.sp-item-new:visited
{
    color: #a00;
}

.sp-item-unknown,
.sp-item-unknown:link,
.sp-item-unknown:hover,
.sp-item-unknown:visited,
a.sp-item-unknown,
a.sp-item-unknown:link,
a.sp-item-unknown:hover,
a.sp-item-unknown:visited
{
    color: #00a;
}